<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api ListenNow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='images/icon2.png') }}" alt="Logo ListenNow">
            <h1>Api <span style="color: var(--secondary);">Listen</span><span style="color: var(--primary);">Now</span></h1>
        </div>

        <nav>
            <a href="https://www.devpree.com.br/lecoffee/">LeCoffee</a>
            <a href="https://www.devpree.com.br/investme">InvestMe</a>
            <a href="https://www.linkedin.com/in/geovani-debastiani/">Developer</a>
        </nav>
    </header>

    <main>
        <div class="routes">
            <h2>Public Routes</h2>
        
            <div>
                <h3>Search Songs <span>[GET]</span></h3>
                <p class="code-style">/listennow/search/<span>{song_name}</span></p>
            </div>

            <div>
                <h3>Search Videos <span>[GET]</span></h3>
                <p class="code-style">/listennow/search/videos/<span>{video_name}</span></p>
            </div>
        </div>
    </main>
</body>
</html>